* {
  font-family: 'Lobster', 'cursive';
}

::-webkit-scrollbar {
    display: none;
}
body {
  /* scroll-behavior:smooth; */

}

h1 {
  font-family: 'Lobster', 'cursive';
}

.Main{
  background-color:rgba(0, 0, 0, 0.85);
  display:block;
  position:absolute;
  min-height:100%;

}
.InputBar {
  margin:0px;
  padding:0px;
}
.InputBar input{
  width:100%;
    min-height:20vh;
    font-family: 'Lobster';
    text-align:center;
    font-size:100px;
    border:none;
    background-color:rgba(7, 14, 18, 1);
    transition:1s;

}
.InputBar input:focus{
  outline:none;
  background-color:rgba(33, 64, 84, 1);
  color:#ffffff;
  transition:1s;
}
.TaskList{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-gap:10px 5px;
  grid-auto-rows:auto;
  text-align:center;

}
.TaskItem{
  background-color:#d8dddf;
  display:block;
  opacity:13%;
  border:solid 3px rgba(7, 14, 18, 1);

}
.TaskItem img{
  width:100%;
}
.TaskItem h1{
  margin:0px;
  font-size:30px;
}

.Footer{
  background-color:#a4def9;
  display:block;
  min-height:50px;
  position: fixed;
  bottom:0px;
  min-height:10vh;
  line-height:6vh;
  text-align:center;
  border:none;
  background-color:rgba(7, 14, 18, 1);
  transition:1s;
  color:rgba(117,117,117,1);
  padding-top:2vh;
  padding-bottom:2vh;

}
.Footer h1{
  font-family: 'Roboto', sans-serif;
  display:inline-block;
  font-size:15px;
  width:50%;
}
.Footer p {
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  margin-bottom:0px;

}
.Footer svg {
  fill:rgba(117,117,117,1);
  margin-right:8px;
  margin-left:8px;
}
.Footer #Copyright{
  font-size:10px;
}
